[submodule "env/.config/tmux/plugins/tmux-battery"]
	path = env/.config/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "env/.config/tmux/plugins/tmux-continuum"]
	path = env/.config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "env/.config/tmux/plugins/tmux-cpu"]
	path = env/.config/tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "env/.config/tmux/plugins/tmux-sensible"]
	path = env/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "env/.config/tmux/plugins/tmux-resurrect"]
	path = env/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "env/.config/tmux/plugins/tpm"]
	path = env/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "env/.config/tmux/plugins/tmux"]
	path = env/.config/tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
